<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>
        Pokemon Data Aanaysis
    </h1>
    <h2>Answering the Question: "Do later generations produce stringer Pokemon"</h2>
    <ul>Method of Anaysis:
        <li>Predict the generation of the Pokemon based on keyfeatures</li>
        <li>Utilizes the RandonForestRegresion model</li>
    </ul>
    <ul>Steps Taken:
        <li>Read data using pandas</li>
        <li>Filter data by removing null values</li>
        <li>Define key features</li>
        <li>Sort data set based on ke feature</li>
        <li>Divide data set into training and validation subsets</li>
        <li>Fit dat set to the trianing data</li>
        <li>Make prediction using validation data</li>
        <li>Truncate the predictions to integers</li>
    </ul>
    <p></p>
</body>
</html>
